*{
	padding: 0;
	margin: 0;
}
body{
        font-family: Arial, Helvetica, sans-serif;
        overflow-x:hidden;
}
.maNav img{
        height: 40px;
        width: 90px;
        margin-left: 10px;
}
.maNav .options a{
        text-decoration: none;
        color: #FF9B04;
        font-weight: bold;
        margin-right: 10px;
        font-size: 10px;
}
.maNav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #494949;
        height: 100px;
        width: 100vw;
	position: fixed;
}

.corps .infoSnap .pSnap{
        font-size: 100px;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        color: white;
}
.corps .infoSnap .pPlateforme{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        color: #FF9B04;
}
.corps .infoSnap{
        background-image: url("../assets/indexImg1.png");
        background-repeat: no-repeat;
        background-size:auto;
        width: 100vw;
        height: 700px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
}

.bloc2 .p1{
        font-size: 50px;
        font-weight: bold;
        color: white;
        text-align: center;
        justify-content: center;
        margin-top: 0px;
        padding-top: 20px;
}
.bloc2 .p2{
        font-size: 30px;
        font-weight: bold;
        color:#FF9B04;
        text-align: center;
        justify-content: center;
        margin-top: 0px;
        padding-top: 20px;
}

.bloc2 .p3{
        font-size:20px;
        font-weight: bold;
        color: white;
        text-align: center;
        justify-content: center;
        margin-top: 0px;
        padding-top: 20px;
}

.bloc2{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    margin-top: 0px;
    background-color: #494949;
    width: 100vw;
    height: 400px;
	padding-bottom: 50px;
	padding-top: 20px;
}

.bloc3 .p1{
    color: white;
    font-size: 50px;
    text-align: center;
	font-weight: bold;


}
.bloc3 .p2{
    color: white;
    font-size: 50px;
    text-align: center;
}


.bloc3 .p2{
    color: antiquewhite;
    font-size: 50px;
	font-weight: bold;
    text-align: center;
}

.bloc3 .p3{
    color:#FF9B04;
    font-size: 20px;
    text-align: center;
}
.bloc3{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0px;
	background-image: url("../assets/indexImg2.jpeg");
	background-repeat: no-repeat;
	background-size: auto;
    text-align: center;
	align-items: center;
	width: 100vw;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

@media (min-width: 1200px) {
	.maNav .options a{ 
    	margin-right: 40px;
        font-size: 20px;
	}
	.corps .infoSnap .pSnap{
        font-size: 150px;
	}
	.corps .infoSnap{
        background-size:100vw;
        width: 100vw;
        height: 800px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
}

.bloc3{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0px;
	background-image: url("../assets/indexImg2.jpeg");
	background-size: 100vw;

}

}
