body{
        font-family: Arial, Helvetica, sans-serif;
}
.maNav img{
        height: 50px;
        width: 100px;
        margin-left: 10px;
}
.maNav .options a{
        text-decoration: none;
        color: #FF9B04;
        font-weight: bold;
        margin-right: 15px;
        font-size: 18px;
}
.maNav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #494949;
        height: 100px;
        width: 100vw;
}

.corps .infoSnap .pSnap{
        font-size: 100px;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        color: white;
}
.corps .infoSnap .pPlateforme{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        color: #FF9B04;
}
.corps .infoSnap{
        background-image: url("../assets/indexImg1.png");
        background-repeat: no-repeat;
        background-size:auto;
        width: 100vw;
        height: 700px;
}

.bloc2 .p1{
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-align: center;
        justify-content: center;
        margin-top: 0px;
        padding-top: 20px;
}
.bloc2 .p2{
        font-size: 25px;
        font-weight: bold;
        color:#FF9B04;
        text-align: center;
        justify-content: center;
        margin-top: 0px;
        padding-top: 20px;
}

.bloc2 .p3{
        font-size:23px;
        font-weight: bold;
        color: white;
        text-align: center;
        justify-content: center;
        margin-top: 0px;
        padding-top: 20px;
}

.bloc2{
        margin-top: 0px;
        background-color: #494949;
        width: 100vw;
        height: 300px;
}

.bloc3 .p1{
        color: purple;
}



